{% extends "::base.html.twig" %}

{% block title %}CatalogueBundle:About:index{% endblock %}

{% block about %}
    class="active"
{% endblock %}

{% block body %}
    <h1>Welcome to the About:index page</h1>
{% endblock %}
