{% extends "::base.html.twig" %}

{% block title %}CatalogueBundle:Cart:index{% endblock %}

{% block cart %}
    active
{% endblock %}

{% block body %}
    <h1>Welcome to the Cart:index page</h1>
{% endblock %}
