{% extends "CatalogueBundle:Composition:layout.html.twig" %}

{% block title %}CatalogueBundle:Composition:index{% endblock %}

{% block body %}
<h1>Welcome to the Composition:index page</h1>
{% endblock %}
